

html{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
__
#root{
  height: 100%;
}


li{
  list-style: none;
}

.grid_container{
  display: grid;
  grid-template-areas: 
  'header' 'main' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header{
  grid-area: header;
  background-color: #203040;
  color: #fff;

}
h1{
  font-size :1.8 rem;
  padding: 1rem 0;
}

h2{
  font-size :1.8 rem;
  padding: 1rem 0;
}

a{
  text-decoration: none;
  color: #fff;
}

a:hover{
  text-decoration: #a31313;

}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}

main{
  grid-area: main;
  background-color: #fff;
  padding: 1rem;

}

footer{
  grid-area: footer ;
  background-color: #203040;
  color: #fff;
  

}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_menu{
  justify-content: space-between;
  align-items: center;


}

.nav_item{
  padding: 0 1rem;
}

.nav_items{
  display: flex;
  justify-content: space-between;
  
}

footer{
  display: grid ;
  place-content: center;
}

img {
  border-radius: 0.5rem;
}
img.medium {
  margin: 0 auto;
  width: 350px;
  height: 500px;
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;

}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
  
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

h2{
    color: blue;
}
